._233-75p2LjNij3thCiNZMu {
  width: 336px;
  border: 1.5px solid grey;
  background-color: white;
}

._3Y-mrKh3axf7UDjY6Sk15K {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

._1FQg5qtiG8KbRa9TViuMPa {
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0px 5px 30%;
}

._1JRHStDUnYEiXFr6-WwRUW {
  display: flex;
  width: 155px;
  height: 120px;
  flex-direction: column;
  border: 1px solid grey;
  margin: 5px;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}

._1JRHStDUnYEiXFr6-WwRUW:hover {
  background-color: #FFFAB6;
  transform: scale(1.2);
}

.ZqICK3pw_bjMWioo9eaT8 {
  width: 100px;
  font-family: Arial;
  font-size: 12px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
  text-align: center;
}

._25C5zonQCYQAVk5ByB6yIQ {
  font-family: Arial;
  font-size: 12px;
  margin-bottom: 3px;
}

.ZZ54ZlO-zNcP39PnSHFuA {
  height: 80px;
  width: 60px;
}
